{
  "printWidth": 400,
  "singleQuote": true,
  "bracketSpacing": true,
  "tabWidth": 2,
  "useTabs": false,
  "overrides": [
    {
      "files": "*.module.ts",
      "options": {
        "printWidth": 100,
        "trailingComma": "all",
        "parser": "typescript",
        "singleAttributePerLine": false,
        "arrowParens": "always",
        "bracketSameLine": false
      }
    },
    {
      "files": ["*.html", "*.component.html"],
      "options": {
        "printWidth": 400,
        "parser": "angular",
        "singleAttributePerLine": true,
        "bracketSameLine": true,
        "htmlWhitespaceSensitivity": "strict"
      }
    },
    {
      "files": ["*.tsx", "*.jsx"],
      "options": {
        "jsxBracketSameLine": true,
        "printWidth": 80
      }
    }
  ],
  "jsxSingleQuote": true,
  "jsxBracketSameLine": false,
  "trailingComma": "es5",
  "semi": true
}


